{% import 'component/planet_flag_ps.j2' as pf with context %}
{% import 'component/planet_variable.j2' as v with context %}
{% import 'component/conditions.j2' as cond with context %}

{% set resource_boost_builds = {
    'energy': ['building_energy_grid', 'building_energy_nexus'],
    'minerals': ['building_mineral_purification_plant', 'building_mineral_purification_hub'],
    'food': ['building_food_processing_facility', 'building_food_processing_center']
} %}

{% macro boost_building(resource) -%}
    {% set b1 = resource_boost_builds[resource][0] %}
    {% set b2 = resource_boost_builds[resource][1] %}

    {% set index = 5 %}
    {% set priority_shift = 'bca_non_job_provider_priority_shift' %}

    {% set b1_cost = "b1_time" %}
    {% set b1_inc_job = 0 %}
    {% set b1_inc_add = "value:bca_production_add_" ~ resource ~ "_" ~ b1 %}
    {% set b1_inc_mult = 0 %}

    {% set b2_cost = "b2_time" %}
    {% set b2_inc_job = 0 %}
    {% set b2_inc_add = "value:bca_production_add_" ~ resource ~ "_" ~ b2 %}
    {% set b2_inc_mult = 0 %}
    {% set standard_production = "bca_potential_standard_" ~ resource ~ "_production" %}

    if = {
        limit = {
            NOR = {
                has_building = {{ b1 }}
                has_building = {{ b2 }}
            }
        }

        try_construct_building = {
            building = {{ b1 }}
            standard_production = {{ standard_production }}
            INC_JOB = {{ b1_inc_job }}
            INC_ADD = {{ b1_inc_add }}
            INC_MULT = {{ b1_inc_mult }}
            cost = @[{{ b1_cost }}]
            priority_shift = {{ priority_shift }}
            index = {{ index }}
        }
        # long-term planing compute for b2 but build b1
        try_construct_building = {
            building = {{ b1 }}
            standard_production = {{ standard_production }}
            INC_JOB = {{ b2_inc_job }}
            INC_ADD = {{ b2_inc_add }}
            INC_MULT = {{ b2_inc_mult }}
            cost = @[{{ b1_cost }} + {{ b2_cost }}]
            priority_shift = {{ priority_shift }}
            index = {{ index }}
        }
    }
{%- endmacro %}

{% macro construction_list(resource,zone_type_set) -%}


    if = {
        limit = {
            requires_more_job = yes
        }
        {% for zone_slot in ['z3','z4','z5'] %}
        {% set district_slot = zone_slot_district_slot_mapping[zone_slot] %}
        {{ "if" if loop.first else "else_if" }} = {
            limit = {
                OR = {
                    {% for zone_type in zone_type_set %}
                    has_planet_flag = {{ pf.flag_selected_zone_type(zone_slot, zone_type) }}
                    {% endfor %}
                }
            }
            {# secondary zone #}
            {% for zone_type in zone_type_set %}
            remove_planet_flag = {{ pf.flag_plan_build_secondary_zone_type(zone_type) }}
            if = {
                limit = {
                    has_planet_flag = {{ pf.flag_selected_zone_type(zone_slot, zone_type) }}
                    check_variable_arithmetic = {
                        which = value:num_secondary_zones_of_type_{{ zone_type }}
                        value < value:num_secondary_zone_plan_of_type_{{ zone_type }}
                    }
                }
                set_planet_flag = {{ pf.flag_plan_build_secondary_zone_type(zone_type) }}
            }
            {% endfor %}
            {# secondary district #}
            if = {
                limit = {
                    NOT = { has_planet_flag = bca_pf_disable_auto_district_manage }
                }
                set_variable = {
                    which = {{v.var_district_num_plan(zone_slot)}}
                    value = bca_opti_count_secondary_district
                }
            }
            try_construct_district = {
                district_slot = {{ district_slot }}
                district_max = bca_opti_count_secondary_district
                production = value:bca_potential_standard_{{ resource }}_production
                cost = 240
                priority_shift = 0
                index = 1
            }
        }
        {% endfor %}
    }

    try_construct_district = {
        district_slot = d0
        district_max = bca_opti_count_primary_district
        production = value:bca_potential_standard_{{ resource }}_production
        cost = 480
        priority_shift = bca_non_job_provider_priority_shift
        index = 2
    }

    try_construct_zone_city = {
        zone = zone_urban_{{ resource }}
        zone_type = {{ zone_type_set[0] }}
        production = value:bca_potential_standard_{{ resource }}_production|INC_MULT|value:bca_production_inc_mult_from_urban_resource|
        cost = @zone_buildtime
        priority_shift = bca_non_job_provider_priority_shift
        index = 4
    }

    {{ boost_building(resource) }}

{%- endmacro %}


{% set energy_zone_types = ['energy','wilderness_energy'] %}
{% set minerals_zone_types = ['minerals','wilderness_minerals'] %}
{% set food_zone_types = ['food','wilderness_food'] %}
{#bca_resource_planet_controller = {#}
{#{% for i in range(3) %}#}
{#{% set resource = ['energy','minerals','food'][i] %}#}
{#{% set zone_type_set = [energy_zone_types, minerals_zone_types, food_zone_types][i] %}#}
{##}
{#{{ "if" if loop.first else "else_if" }} = {#}
{#    limit = {#}
{#        {{ ['has_generator_designation', 'has_mining_designation', 'has_farming_designation'][i] }} = yes#}
{#    }#}
{#    set_variable = {#}
{#        which = bca_selected_index#}
{#        value = -1#}
{#    }#}
{#    set_variable = {#}
{#        which = bca_test_construction_metric_max#}
{#        value = 0#}
{#    }#}
{#    set_variable = {#}
{#        which = bca_test_construction_metric_max_index#}
{#        value = -1#}
{#    }#}
{##}
{#    if = {#}
{#        limit = {#}
{#            really_requires_more_job = no#}
{#        }#}
{#        set_variable = {#}
{#            which = bca_non_job_provider_priority_shift#}
{#            value = 100#}
{#        }#}
{#    }#}
{#    else = {#}
{#        set_variable = {#}
{#            which = bca_non_job_provider_priority_shift#}
{#            value = 0#}
{#        }#}
{#    }#}
{##}
{#    bca_opti_district_estimation_{{ resource }} = yes#}
{##}
{#    if = {#}
{#        limit = {#}
{#            NOT = { has_planet_flag = bca_pf_disable_auto_district_manage }#}
{#        }#}
{#        {% for zone_slot in ['z3','z4','z5'] %}#}
{#        {% set district_slot = zone_slot_district_slot_mapping[zone_slot] %}#}
{#        if = {#}
{#            limit = {#}
{#                bca_has_advance_secondary_districts = yes#}
{#            }#}
{#            set_variable = {#}
{#                which = {{v.var_district_num_plan(zone_slot)}}#}
{#                value = 1#}
{#            }#}
{#        }#}
{#        else = {#}
{#            set_variable = {#}
{#                which = {{v.var_district_num_plan(zone_slot)}}#}
{#                value = 0#}
{#            }#}
{#        }#}
{#        {% endfor %}#}
{#    }#}
{##}
{#	set_variable = {#}
{#		which = bca_current_production#}
{#		value = value:bca_potential_standard_{{ resource }}_production#}
{#	}#}
{##}
{#    {{ construction_list(resource,zone_type_set) }}#}
{##}
{#    set_variable = {#}
{#        which = bca_selected_index#}
{#        value = bca_test_construction_metric_max_index#}
{#    }#}
{##}
{#    if = {#}
{#        limit = { check_variable = { which = bca_selected_index value != -1 } }#}
{#        {{ construction_list(resource,zone_type_set) }}#}
{#    }#}
{##}
{#    if = {#}
{#        limit = {#}
{#            check_variable = {#}
{#                which = bca_selected_index#}
{#                value != -1#}
{#            }#}
{#        }#}
{#        set_planet_flag = bca_pf_advance_controller_order#}
{#    }#}
{#    clear_variable = bca_selected_index#}
{#    clear_variable = bca_non_job_provider_priority_shift#}
{#    clear_variable = bca_current_production#}
{#    clear_variable = bca_test_construction_metric_max#}
{#    clear_variable = bca_test_construction_metric_max_index#}
{#    clear_variable = bca_num_free_city_zones#}
{##}
{#}#}
{##}
{#{% endfor %}#}
{#}#}


bca_resource_planet_controller_district_only = {

if = {
    limit = {
        bca_auto_district_manage_enabled = yes
    }
    if = {
        limit = {
            OR = {
                has_planet_flag = bca_pf_can_build_extra_zones_for_storage
                bca_has_advance_secondary_districts = yes
            }
        }
        {% for zone_slot in ['z3','z4','z5'] %}
        {% set district_slot = zone_slot_district_slot_mapping[zone_slot] %}
        set_variable = {
            which = {{v.var_district_num_plan(zone_slot)}}
            value = 1
        }
        {% endfor %}
    }
    else = {
        {% for zone_slot in ['z3','z4','z5'] %}
        {% set district_slot = zone_slot_district_slot_mapping[zone_slot] %}
        set_variable = {
            which = {{v.var_district_num_plan(zone_slot)}}
            value = 0
        }
        {% endfor %}
    }
}

{% for i in range(3) %}
{% set resource = ['energy','minerals','food'][i] %}
{% set zone_type_set = [energy_zone_types, minerals_zone_types, food_zone_types][i] %}

{{ "if" if loop.first else "else_if" }} = {
    limit = {
        {{ ['has_generator_designation', 'has_mining_designation', 'has_farming_designation'][i] }} = yes
    }

    if = {
        limit = {
            requires_more_job = yes
        }
        remove_all_zone_plan_flag = yes
    }

    {% for zone_slot in ['z3','z4','z5'] %}
    {% set district_slot = zone_slot_district_slot_mapping[zone_slot] %}
    {{ "if" if loop.first else "else_if" }} = {
        limit = {
            OR = {
                {% for zone_type in zone_type_set %}
                has_planet_flag = {{ pf.flag_selected_zone_type(zone_slot, zone_type) }}
                {% endfor %}
            }
        }
        if = {
            limit = {
                bca_auto_district_manage_enabled = yes
            }
            set_variable = {
                which = {{v.var_district_num_plan(zone_slot)}}
                value = value:bca_potential_district_max_build_{{ district_slot }}
            }
            {% for other_zone_slot in ['z3','z4','z5'] %}
            {% if other_zone_slot != zone_slot %}
            if = {
                limit = {
                    check_variable_arithmetic = {
                        which = value:bca_num_free_secondary_districts_plan
                        value <= 0
                    }
                }
                subtract_variable = {
                    which = {{ v.var_district_num_plan(zone_slot) }}
                    value = {{ v.var_district_num_plan(other_zone_slot) }}
                }
            }
            {% endif %}
            {% endfor %}
        }
        if = {
            limit = {
                requires_more_job = yes
            }
            {# secondary zone #}
            # secondary zone
            {% for zone_type in zone_type_set %}
            {{ "if" if loop.first else "else_if" }} = {
                limit = {
                    has_planet_flag = {{ pf.flag_selected_zone_type(zone_slot, zone_type) }}
                    check_variable_arithmetic = {
                        which = value:num_district_{{ district_slot }}
                        value > 0
                    }
                    check_variable_arithmetic = {
                        which = value:num_secondary_zones_of_type_{{ zone_type }}
                        value < value:num_secondary_zone_plan_of_type_{{ zone_type }}
                    }
                    OR = {
                        {% for zone_group in zones_info %}
                        {% if zone_group.type == zone_type %}
                        {% for zone in zone_group.zones %}
                        bca_can_build_{{ zone }} = yes
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    }
                }
                set_planet_flag = {{ pf.flag_plan_build_secondary_zone_type(zone_type) }}
                set_planet_flag = bca_plan_build_new_zone
                set_planet_flag = bca_pf_advance_controller_order
            }
            {% endfor %}
        }
        {# secondary district #}
        # secondary district
        if = {
            limit = {
                bca_auto_district_manage_enabled = yes
            }
            if = {
                limit = {
                    free_district_slots > 0
                    requires_more_job = yes
                    NOT = { has_planet_flag = bca_pf_advance_controller_order }
                }
                if = {
                    limit = {
                        check_variable = {
                            which = {{ v.var_district_num_plan(zone_slot) }}
                            value > value:num_district_{{ district_slot }}
                        }
                        check_variable_arithmetic = {
                            which = value:num_free_district_{{ district_slot }}
                            value > 0
                        }
                    }
                    set_planet_flag = {{ pf.flag_district_plan_build(district_slot) }}
                    set_planet_flag = bca_pf_advance_controller_order
                }
                else = {
                    if = {
                        limit = {
                            check_variable_arithmetic = {
                                which = value:bca_num_primary_districts_plan
                                value > value:num_primary_district
                            }
                        }
                        set_planet_flag = {{ pf.flag_district_plan_build('d0') }}
                    }
                    {% for other_zone_slot in ['z3','z4','z5'] %}
                    {% set other_district_slot = zone_slot_district_slot_mapping[other_zone_slot] %}
                    {% if other_zone_slot != zone_slot %}
                    {% endif %}
                    else_if = {
                        limit = {
                            check_variable = {
                                which = {{v.var_district_num_plan(other_zone_slot)}}
                                value > value:num_district_{{ other_district_slot }}
                            }
                        }
                        set_planet_flag = {{ pf.flag_district_plan_build(other_district_slot) }}
                    }
                    {% endfor %}
                }
            }
        }


    }
    {% endfor %}
}

{% endfor %}
}