
{% set display_var = [
'bca_selected_index',
'bca_test_construction_metric_max',
'bca_test_construction_metric_max_index',
'bca_current_production',
'bca_test_district_metric_1',
'bca_test_district_metric_2',
] %}

l_simp_chinese:
 test_event.1.desc: "{% for var in display_var %}{{ var }}:[This.{{ var }}]\n{% endfor %}"