{% import 'component/planet_flag_ps.j2' as pf with context %}
{% import 'component/planet_variable.j2' as v with context %}
{% import 'component/conditions.j2' as cond with context %}

{% set urban_resource_zone = ['zone_urban_energy','zone_urban_minerals','zone_urban_food'] %}
{% for zone in urban_resource_zone %}
bca_future_planed_{{ zone }} = {
    modifier = {
        has_planet_flag = {{ pf.flag_selected_zone('z1',zone) }}
        add = 1
    }
    modifier = {
        has_planet_flag = {{ pf.flag_selected_zone('z2',zone) }}
        add = 1
    }
}
{% endfor %}

{% for job_info in jobs_info %}
{% set job = job_info.type %}
{% set resource = job_info.resource %}
{% set class_regular = job_info.class_regular %}
{% set class_gestalt = job_info.class_gestalt %}
bca_planet_{{ resource }}_job_mult = {
	base = 1
	#general job modifiers
	add = modifier:planet_jobs_produces_mult
	add = modifier:planet_jobs_productive_produces_mult
	add = modifier:planet_jobs_complex_and_simple_drone_produces_mult
	#class specific job modifiers
	add = modifier:planet_jobs_{{ class_regular }}_produces_mult
	add = modifier:planet_jobs_{{ class_gestalt }}_produces_mult
	#resource specific job modifiers
	add = modifier:planet_jobs_{{ resource }}_produces_mult
	#job specific modifiers
	add = modifier:planet_{{ job }}_produces_mult
	add = modifier:planet_{{ job }}_{{ resource }}_produces_mult

	[[INC_MULT]
		add = $INC_MULT$
	]
}

bca_planet_{{ resource }}_job_add = {
	add = value:bca_base_{{ resource }}
	# add = modifier:planet_jobs_{{ resource }}_produces_add
	add = modifier:planet_{{ job }}_{{ resource }}_produces_add
	[[INC_ADD]
		add = $INC_ADD$
	]
}

bca_potential_standard_{{ resource }}_production = {
	add = value:bca_jobs_for_{{ resource }}
	[[INC_JOB] add = $INC_JOB$ ]
	divide = 100
	[[INC_ADD]
		mult = value:bca_planet_{{ resource }}_job_add|INC_ADD|$INC_ADD$|
	]
	[[!INC_ADD]
		mult = value:bca_planet_{{ resource }}_job_add
	]
	[[INC_MULT]
		mult = value:bca_planet_{{ resource }}_job_mult|INC_MULT|$INC_MULT$|
	]
	[[!INC_MULT]
		mult = value:bca_planet_{{ resource }}_job_mult
	]
	[[MULT]
		mult = $MULT$
	]
}
{% endfor %}