l_japanese:
  {% for item in zones_info %}
  bca_zone_icon_large_{{item.type}}: "£district_specialization_{{item.type}}_large£"
  bca_zone_icon_small_{{item.type}}: "£district_specialization_{{item.type}}_small£"
  {% endfor %}