{% import 'component/planet_flag_ps.j2' as pf with context %}
{% import 'component/planet_variable.j2' as v with context %}
{% import 'component/conditions.j2' as cond with context %}
{% import 'component/zone_setting_option_operation.j2' as op with context -%}

namespace = colony_automation_event

# check to initialize colony automation for all planets
country_event = {
	id = colony_automation_event.25
	hide_window = yes
	is_triggered_only = yes

	trigger = {
		is_ai = no
	}

	immediate = {
		every_owned_planet = {
			limit = {
			    is_colony = yes
				NOT = {
				    has_planet_flag = {{ pf.flag_bca_initialized() }}
               }
			}
			planet_event = { id = colony_automation_event.26 }
        }
    }
}


# set by current layout
# on_colonized
# on_planet_transfer
planet_event = {
    id = colony_automation_event.26
    hide_window = yes
    is_triggered_only = yes

    trigger = {
        always = yes
    }

    immediate = {
        if = {
            limit = {
                owner = {
                    is_ai = no
                }
            }
            remove_planet_flag = bca_pf_district_balanced
            bca_clear_designation_flag = yes
            bca_designation_sync_with_system = yes
            bca_primary_zone_setting_set_by_current_zones = yes
            bca_secondary_zone_setting_set_by_current_zones = yes
            # init for slot that's not selected by current zones
            {% for zone_slot in ['z1','z2','z3','z4','z5'] %}
            if = {
                limit = {
                    NOT = { bca_has_zone_plan = { ZONE_SLOT = {{ zone_slot }} } }
                }
                {{ op.auto_select_default_zone(zone_slot) }}
            }
            {% endfor %}
            if = {
                limit = {
                    bca_has_secondary_districts = yes
                }
                bca_set_zx_for_identical_secondary_zone_plan = yes
                try_set_secondary_districts_plan_zero_to_one = yes
            }
            set_planet_flag = {{ pf.flag_bca_initialized() }}
        }
        else = {
            remove_planet_flag = bca_pf_district_balanced
            bca_clear_designation_flag = yes
            clear_open_selector = yes
            {% for zone_slot in ['z1','z2','z3','z4','z5','zx'] %}
                {{ op.clear_zone_selection(zone_slot) }}
            {% endfor %}
            remove_planet_flag = {{ pf.flag_bca_initialized() }}
        }
    }
}

# reset to default
planet_event = {
    id = colony_automation_event.27
    hide_window = yes
    is_triggered_only = yes

    trigger = {
        always = yes
    }

    immediate = {
        remove_planet_flag = bca_pf_district_balanced
        bca_clear_designation_flag = yes
        bca_designation_sync_with_system = yes
        # init for slot that's not selected by current zones
        {% for zone_slot in ['z1','z2','z3','z4','z5'] %}
        {{ op.auto_select_default_zone(zone_slot) }}
        {% endfor %}
        if = {
            limit = {
                bca_has_secondary_districts = yes
            }
            bca_set_zx_for_identical_secondary_zone_plan = yes
            try_set_secondary_districts_plan_zero_to_one = yes
        }
        set_planet_flag = {{ pf.flag_bca_initialized() }}
    }
}