namespace = test_event

{% set test_trigger = [
'bca_auto_district_manage_enabled',
'bca_district_d0_reach_planet_max',
'bca_district_d1_reach_planet_max',
'bca_district_d2_reach_planet_max',
'bca_district_d3_reach_planet_max',
'bca_district_nearly_reach_planet_max = {type = district_generator}'
] %}
{% set test_flags = [
'bca_pf_advance_controller_order',
'bca_pf_plan_build_district_d0',
'bca_pf_plan_build_district_d1',
'bca_pf_plan_build_district_d2',
'bca_pf_plan_build_district_d3',
'bca_pf_plan_remove_district_d0',
'bca_pf_plan_remove_district_d1',
'bca_pf_plan_remove_district_d2',
'bca_pf_plan_remove_district_d3',
 ]
 %}
{% set display_values = [
'bca_future_planed_zone_urban_energy',
'bca_future_planed_zone_urban_minerals',
'bca_future_planed_zone_urban_food',
'bca_potential_district_max_add_energy',
'bca_potential_district_max_add_minerals',
'bca_potential_district_max_add_food',
'bca_planet_max_districts',
'num_free_district_d1',
'num_free_district_d2',
'num_free_district_d3',
'bca_num_districts_value|TYPE|district_city|',
'bca_potential_standard_energy_production|INC_MULT|value:bca_production_inc_mult_from_urban_resource|',
'bca_potential_standard_minerals_production|INC_MULT|value:bca_production_inc_mult_from_urban_resource|',
'bca_potential_standard_food_production|INC_MULT|value:bca_production_inc_mult_from_urban_resource|'
] %}


planet_event = {
	id = test_event.2

	is_triggered_only = yes
	title = "Test Event for Scripted Triggers"
	desc = test_event.1.desc

    option = {
        name = 'exit'
    }

	option = {
		name = "add pop"
		create_pop_group = { size = 1000  species = owner_main_species }
		planet_event = {
			id = test_event.2
		}
	}



	immediate = {

	}

	option = {
	    name = "remove_flags"
        remove_planet_flag = debug_tested_d0_to_d2
        remove_planet_flag = debug_test_passed_d0_to_d2
        remove_planet_flag = debug_tested_d2_to_d0
        remove_planet_flag = debug_test_passed_d2_to_d0
        remove_planet_flag = bca_pf_plan_build_district_d0
        remove_planet_flag = bca_pf_plan_build_district_d1
        remove_planet_flag = bca_pf_plan_build_district_d2
        remove_planet_flag = bca_pf_plan_build_district_d3
        remove_planet_flag = bca_pf_plan_remove_district_d0
        remove_planet_flag = bca_pf_plan_remove_district_d1
        remove_planet_flag = bca_pf_plan_remove_district_d2
        remove_planet_flag = bca_pf_plan_remove_district_d3
        planet_event = {
			id = test_event.2
		}
	}

    option = {
	    name = "test_d0_to_d1"
        bca_test_district_to_replace = {
            district_slot_replace_from = d0
            district_slot_replace_to = d1
            metric_value = value:bca_potential_standard_energy_production
            is_priority_district = no
        }
        planet_event = {
			id = test_event.2
		}
	}

	option = {
        name = "test_d1_to_d0"
        bca_test_district_to_replace = {
            district_slot_replace_from = d1
            district_slot_replace_to = d0
            metric_value = value:bca_potential_standard_energy_production
            is_priority_district = yes
        }
        planet_event = {
			id = test_event.2
		}
    }

	option = {
	    name = "test_d0_to_d2"
        bca_test_district_to_replace = {
            district_slot_replace_from = d0
            district_slot_replace_to = d2
            metric_value = value:bca_potential_standard_minerals_production
            is_priority_district = no
        }
        planet_event = {
			id = test_event.2
		}
	}

	option = {
        name = "test_d2_to_d0"
        bca_test_district_to_replace = {
            district_slot_replace_from = d2
            district_slot_replace_to = d0
            metric_value = value:bca_potential_standard_minerals_production
            is_priority_district = yes
        }
        planet_event = {
			id = test_event.2
		}
    }

	{% for flag in test_flags %}
    option = {
        name = "{{ flag }}"
        allow = {
            has_planet_flag = {{ flag }}
        }
        planet_event = {
			id = test_event.2
		}
    }
    {% endfor %}

	{% for trigger in test_trigger %}
    option = {
        name = "{{ trigger }}"
        allow = {
            {{ trigger }} = yes
        }
        planet_event = {
			id = test_event.2
		}
    }
    {% endfor %}
	option = {
		name = "var_test"
	    {% for val in display_values %}
		set_variable = {
			which = {{val}}
			value = value:{{val}}
		}
		{% endfor %}
		hidden_effect = {
            {% for val in display_values %}
            clear_variable = {{ val }}
            {% endfor %}
        }
        planet_event = {
			id = test_event.2
		}
	}

{#    option = {#}
{#        name = "try_construct_district"#}
{#        try_construct_district = {#}
{#            district_slot = d2#}
{#            district_max = bca_opti_count_secondary_district#}
{#            production = value:bca_potential_standard_minerals_production#}
{#            cost = 240#}
{#            priority_shift = 0#}
{#            index = 1#}
{#        }#}
{#        planet_event = {#}
{#			id = test_event.2#}
{#		}#}
{#    }#}


}