{% import 'component/planet_flag_ps.j2' as pf with context -%}
{% import 'component/planet_variable.j2' as v -%}
{% import 'component/zone_setting_option_operation.j2' as op with context -%}


{% macro zone_select_entry_toggle(zone_slot) -%}
bca_planet_setting_zone_select_toggle_{{ zone_slot }}_icon = {
    potential = {
        {% if zone_slot in ['zx'] %}
        bca_has_secondary_districts = yes
        NOT = { has_planet_flag = bca_pf_ps_show_detailed_secondary_districts }
        {% elif zone_slot in ['z3','z4','z5'] %}
        has_planet_flag = bca_pf_ps_show_detailed_secondary_districts
        {% else %}
        always = yes
        {% endif %}
    }
    allow = {
        always = yes
    }
    effect = {
        if = {
            limit = {
                has_planet_flag = {{pf.flag_zone_selector(zone_slot)}}
            }
            remove_planet_flag = {{pf.flag_zone_selector(zone_slot)}}
            {{ op.clear_zone_selector_flags(zone_slot) }}
        }
        else = {
            clear_open_selector = yes

            set_planet_flag = {{pf.flag_zone_selector(zone_slot)}}

            {{ op.update_zone_selector_option(zone_slot) }}
        }
    }
}
{%- endmacro %}


{% macro zone_select_entry_icon(zone_slot) -%}
bca_planet_setting_{{ zone_slot }}_icon = {
    potential = {
        {% if zone_slot in ['zx'] %}
        bca_has_secondary_districts = yes
        NOT = { has_planet_flag = bca_pf_ps_show_detailed_secondary_districts }
        {% endif %}
        {% if zone_slot in ['z3','z4','z5'] %}
        has_planet_flag = bca_pf_ps_show_detailed_secondary_districts
        {% endif %}
    }
    allow = {
        always = yes
    }
    effect = {
    }
}
{%- endmacro %}

{% macro zone_selector_background(zone_slot,option_count) -%}
bca_planet_setting_selector_frame_{{ zone_slot }}_{{ option_count }} = {
    potential = {
        has_planet_flag = {{pf.flag_zone_selector(zone_slot)}}
        check_variable = {
            which = zone_selector_options_count
            value = {{ option_count }}
        }
    }
    allow = {
        always = yes
    }
}
{%- endmacro %}

{% macro zone_selector_icon(zone_slot, selector_slot, selector_index) -%}
bca_planet_setting_{{ zone_slot }}_{{ selector_slot }} = {
    potential = {
        has_planet_flag = {{pf.flag_zone_selector(zone_slot)}}
        check_variable = {
            which = zone_selector_options_count
            value >= {{ selector_index }}
        }
    }
    allow = {
        always = yes
    }
    effect = {
        {{ op.clear_zone_selection(zone_slot) }}
        {{ op.set_zone_type_selection(zone_slot, selector_slot) }}
        remove_planet_flag = {{pf.flag_zone_selector(zone_slot)}}

        {{ op.clear_zone_selector_flags(zone_slot) }}
    }
}
{%- endmacro %}

{% for zone_slot in ['z1','z2','z3','z4','z5','zx'] %}
{{ zone_select_entry_toggle(zone_slot) }}
{{ zone_select_entry_icon(zone_slot) }}
{% for selector_index in range(1,16) %}
    {% set selector_slot = "s"~selector_index %}
    {{ zone_selector_icon(zone_slot, selector_slot, selector_index) }}
{% endfor %}
{% endfor %}

{% for zone_slot in ['z1','z2','z3','z4','z5','zx'] %}
    {% for option_count in range(1,16) %}
        {{ zone_selector_background (zone_slot, option_count) }}
    {% endfor %}
{% endfor %}


